 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    background: #1e1b4b; /* dark violet */
    color: white;
    padding: 20px;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #a78bfa;
}

.form-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form {
    background: #312e81;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    
    background: white;
    color: black;
}

form button {
    width: 100%;
    padding: 10px;
    background: #6366f1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #4f46e5;
}


.display-section {
    margin-top: 20px;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;       /* vertical scrollbar */
    border: 1px solid #444;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #312e81;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background: #4f46e5;
}

tr:nth-child(even) {
    background: #4338ca;
}

button.edit {
    background: #22c55e;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button.delete {
    background: #ef4444;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Responsiveness */
@media (max-width: 640px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    td {
        margin-bottom: 10px;
    }
}
